/*

Início Gerais/General/Generic

*/

body { 
	margin: 0;
	position: relative;
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	background-color: #F7F7F7;
	overflow-x: hidden;
}

.header {
	overflow: hidden;
	background-color: #FFFFFF;
}

.logo {
	float: left;
	width: 350px;
	height: 60px;
	left: 40px;
	top: 2px;
	background: url(img/logo.png);
	background-repeat: no-repeat;
	margin-left: 20px;
}

.header-right {
	float: right;
	text-align: right;
}

.header-right-t {
	float: right;
	text-align: right;
	margin-top:	2%;
	margin-right: 1%;
}

.circulo {
	margin:10px;
	width:40px;
	height:40px;
	border-radius:100%;
	background-color:#3D6AA2;
	color:#fff;
	text-align:center;
	font-size:25px;
	overflow:hidden;
}

.circulo.uma-linha{line-height:40px;}

.texto_negrito{
	color: #3D5F90;	
	font-weight: bold;
}

.texto_padrao{
	color: #3D5F90;	
}

.linha_separacao{
	width: 100%;
	height: 0px;
	left: 0px;
	border: 1px solid #3D5F90;
}

.menu {
	overflow: hidden;
	margin-left: 20px;
	color: #3D5F90;
}

.menu a {
	position: relative;
	float: left;
	outline: none;
	cursor: indicadores;
	padding: 14px 16px;
	transition: 0.3s;
	box-sizing: border-box;
	text-decoration:none; 
	color: #3D5F90;
}

.menu a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: #3D5F90;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.menu a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.empresa_filial{
	width: 150px;
	height: 30px;
	left: 1269px;
	top: 296px;
	background: #3D5F90 url(icones/seta.svg) 95.5% 50% no-repeat;
	border: 1px solid #3D5F90;
	box-sizing: border-box;
	border-radius: 3px;
	color: #FFFFFF;
	overflow:hidden;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0px 10px;
}

.coluna_empresa{
	margin-top:20px;
}

.botao_salvar{
	height: 30px;
	width: 73px;
	left: 787px;
	top: 170px;
	border-radius: 3px;
	background: #3D5F90;
	text-align: center;
	text-decoration: none;
	font-weight: 750;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	border: none;
	float:left;
	display: inline-block;
	cursor: pointer;
	margin-right: 5px;
}

.botao_subir{
	height: 30px;
	width: 39px;
	left: 958px;
	top: 200px;
	border-radius: 3px;
	text-align: center;
	text-decoration: none;
	font-weight: 750;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	border: none;
	background:#3D5F90 url(icones/up.svg) no-repeat center;
	float:left;
	margin-right: 7px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.botao_esquerda{
	height: 30px;
	width: 39px;
	left: 968px;
	top: 170px;
	border-radius: 3px;
	border: none;
	background:#e6e6e6 url(icones/left.svg) no-repeat center;
	float:left;
	margin-right: 7px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.botao_direita{
	height: 30px;
	width: 39px;
	left: 1056px;
	top: 200px;
	border-radius: 3px;
	transform: rotate(-180deg);
	border: none;
	background:#3D5F90 url(icones/right.svg) no-repeat center;
	float:left;
	margin-right: 7px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.div_pesquisa{
	height: 30px;
	width: 87px;
	left: 1066px;
	top: 170px;
	border-radius: 3px;
	background: #FFFFFF;
	border: 1px solid #3D5F90;
	box-sizing: border-box;
	border-radius: 3px;
	display:inline;
	float:left;
	margin-right: 7px;
}

.div_pesquisa_lg{
	width: 231px;
	height: 30px;
	left: 516px;
	top: 21px;

	border-radius: 3px;
	background: #FFFFFF;
	border: 1px solid #3D5F90;
	box-sizing: border-box;
	border-radius: 3px;
	display:inline;
	float:left;
	margin-right: 7px;
	margin-left: 280px;
}

.campo_pesquisa{
	height: 15px;
	width: 45px;
	font-style: normal;
	font-weight: 900;
	font-size: 13px;
	line-height: 15px;
	text-align: center;
	color: #6D8CC1;
	display:inline;
	margin-top:  6px;
	border: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.campo_pesquisa_lg{
	height: 15px;
	width: 191px;
	font-style: normal;
	font-weight: 900;
	font-size: 13px;
	line-height: 15px;
	text-align: left;
	color: #6D8CC1;
	display:inline;
	margin-top:  6px;
	border: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.botao_pesquisa_ok{
	height: 15px;
	font-style: normal;
	font-weight: 900;
	font-size: 13px;
	line-height: 15px;
	text-align: right;
	color: #3D5F90;
	float: right;
	border: none;
	background-color: transparent;
	margin-top:  6px;
	margin-right: 2px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

.botao_abc{
	height: 30px;
	width: 50px;
	left: 1210px;
	top: 178px;
	border-radius: 3px;
	background: #56CCF2;
	text-align: center;
	text-decoration: none;
	font-weight: 750;
	font-size: 13px;
	line-height: 16px;
	color: #FFFFFF;
	border: none;
	float:left;
	margin-right: 5px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}


.tabela {
	border-collapse: collapse;
	text-align: center;
	margin-top: 20px;
}

table {
	border-collapse: collapse;
	width:  100%;
}

.corpo_tabela tr:nth-child(even){background-color: #f2f2f2;}
.corpo_tabela tr:nth-child(odd) td {background-color: #F9F9F9;}
.corpo_tabela tr:hover {background-color: #ddd;}

.corpo_tabela th {
	text-align: center;
	background-color: #ffffff;
	color: black;
}

.corpo_tabela td {padding: 12px;}

.valor_campo_selecionar_tabela {
	width: 25%;
	overflow:hidden;
	outline: 0;
	border-radius: 5px;
	border: 1px solid #E0E0E0;
	align-items: center;
	text-align: center;
	box-sizing: border-box;
	-webkit-box-shadow: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	box-shadow: none;
	appearance: none;
}

.habilita_valor_tabela{
	width: 12px;
	height: 12px;
}

.ico_obs {background: url(icones/obs.svg) no-repeat center;}
.ico_include {background: url(icones/include.svg) no-repeat center;}
.ico_action_car {background: url(icones/car.svg) no-repeat center;}
.ico_action_del {background: url(icones/del.svg) no-repeat center;}
.ico_include_footer {background: url(icones/ico_footer.svg) no-repeat center;}

.alinhamento_texto {text-align: left;}
.alinhamento_numero {text-align: right;}

.color_status{background-color: #3D5F90;}

.tabela_redonda {
	border: none;
}
.tabela_redonda thead th {
	background-color: #ffffff;
	border: none;
	color: #333;
}
.tabela_redonda thead th:first-child {
	border-radius: 20px 0 0 0;
}
.tabela_redonda thead th:last-child {
	border-radius: 0 20px 0 0;
}

.tabela_redonda tfoot td {
	border: none;
	background-color: #3D5F90;
}

.rodape_tabela td {
	text-align: center;
	color: #ffffff;
	padding: 12px;  
}

.select_tabela{
	color: #ffffff;
	box-sizing: border-box;
	border: 1px solid #FFFFFF;
	border-radius: 5px;
	background: #3D5F90 url(icones/seta.svg) 95.5% 50% no-repeat;
	overflow:hidden;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	height:30px;
	padding: 0px 10px;
}

.tabela_redonda tfoot tr:last-child td:first-child {
	border-radius: 0 0 0 20px;
}

.tabela_redonda tfoot tr:last-child td:last-child {
	border-radius: 0 0 20px 0;
}


.navegacao_fornecedor{
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	position: static;
	width: 1312px;
	height: 72px;
	left: 50px;
	top: 69px;

	background: #FFFFFF;

	border: 0.5px solid #E0E0E0;
	box-sizing: border-box;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
	border-radius: 10px;

	flex: none;
	order: 1;
	flex-grow: 0;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
}

.navegacao{
	width: 188px;
	height: 21px;
	left: 32px;
	top: 25px;

	font-weight: bold;
	font-size: 18px;
	line-height: 32px;

	text-decoration-line: underline;

	flex: none;
	order: 0;
	flex-grow: 0;
	margin-right: 50px;
}

.navegacao p{
	display:inline;
	float:left;
	margin-right: 5px;
}

.navegacao a:link{
	color: #3D5F90;
}


.col-sm-1{
	width: 6.3333333333%;
	height: 79px;
	left: 10px;
	top: 0px;

	box-sizing: border-box;
	border-radius: 10px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin-right: 1.5%;

	display: inline-block;
}

.col-sm-2{
	width: 15.6666666666%;
	height: 79px;
	left: 10px;
	top: 0px;

	box-sizing: border-box;
	border-radius: 10px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin-right: 1.5%;

	display: inline-block;
}

.col-sm-3{
	width: 21.9999999999%;
	height: 79px;
	left: 10px;
	top: 0px;

	box-sizing: border-box;
	border-radius: 10px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin-right: 1.5%;

	display: inline-block;
}

.col-sm-4{
	width: 31.3333333333%;
	height: 59px;
	left: 10px;
	top: 0px;

	box-sizing: border-box;
	border-radius: 10px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin-right: 1.5%;

	display: inline-block;	
}

.col-sm-5{
	width: 37.6666666666%;
	height: 59px;
	left: 10px;
	top: 0px;

	box-sizing: border-box;
	border-radius: 10px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin-right: 1.5%;

	display: inline-block;	
}

.col-sm-6{
	width: 45.9999999999%;
	height: 79px;
	left: 10px;
	top: 0px;

	box-sizing: border-box;
	border-radius: 10px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin-right: 1.5%;

	display: inline-block;	
}

.col-sm-7{
	width: 56.3333333333%;
	height: 79px;
	left: 10px;
	top: 0px;

	box-sizing: border-box;
	border-radius: 10px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin-right: 1.5%;

	display: inline-block;	
}

.col-sm-8{
	width: 64.6666666666%;
	height: 79px;
	left: 10px;
	top: 40px;

	box-sizing: border-box;
	border-radius: 10px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin-right: 1.5%;

	display: inline-block;	
}

.col-sm-9{
	width: 73.9999999999%;
	height: 79px;
	left: 10px;
	top: 40px;

	box-sizing: border-box;
	border-radius: 10px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin-right: 1.5%;

	display: inline-block;	
}
.col-sm-10{
	width: 81.3333333333%;
	height: 79px;
	left: 10px;
	top: 0px;

	box-sizing: border-box;
	border-radius: 10px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin-right: 1.5%;

	display: inline-block;	
}

.col-sm-11{
	width: 89.6666666666%;
	height: 79px;
	left: 10px;
	top: 0px;

	box-sizing: border-box;
	border-radius: 10px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin-right: 1.5%;

	display: inline-block;	
}
.col-sm-12{
	width: 100%;
	height: 79px;
	left: 10px;
	top: 0px;

	box-sizing: border-box;
	border-radius: 10px;

	flex: none;
	order: 1;
	align-self: stretch;
	flex-grow: 0;
	margin-right: 1.5%;

	display: inline-block;	
}

.input_fornec{ 
	display: flex;	
	flex-direction: row;
	align-items: flex-start;
	padding: 14px 10px;

	background: #FFFFFF;

	border: 1px solid #6D8CC1;
	box-sizing: border-box;
	border-radius: 10px;
	color: #6D8CC1;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 4px 0px;
	outline: 0;
	width: 100%;
	font-size: 18px;
}

.label{
	width: 59px;
	height: 16px;
	left: 16px;
	top: 0px;
	color: #6D8CC1;
	margin-left: 15px;
}

/*

Fim Gerais/General/Generic

*/
/*

Início página COTACAO/PRECIO/PRICE

*/

.cabecalho_cotacao{
	height: 110px;
	width: 1440px;
	left: 0px;
	top: 64px;
	border-radius: 0px;
}

a:link.cotacao_link{
	color: #3D5F90;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-decoration-line: underline;
}

a:hover.cotacao_link{
	color: #0f2a8c;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
}


a:active.cotacao_link{
	color: #56CCF2;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
}

a:visited.cotacao_link{
	color: #3D5F90;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
}

.cabecalho_cotacao_linha_1{
	height: 16px;
	width: 634px;
	left: 56px;
	top: 129px;
	border-radius: nullpx;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	color: #3D5F90;
	margin-left: 40px;
}

.cabecalho_cotacao_linha_2{
	height: 16px;
	width: 500px;
	left: 56px;
	top: 152px;
	border-radius: nullpx;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	text-decoration: underline;
	margin-left: 40px;
}

.cabecalho_cotacao_linha_3{
	height: 18px;
	width: 1640px;
	left: 57px;
	top: 177px;
	border-radius: nullpx;
	font-size: 14px;
	line-height: 24px;
	margin-left: 38px;
}

.cabecalho_cotacao_linha_3 p{
	display:inline;
	float:left;
	margin-right: 25px;
}

.linha_separacao_vertical{
	height: 0px;
	width: 40px;
	left: 891px;
	top: 165px;
	border: 1px solid #3D5F90;
	transform: rotate(90deg);
	display:inline;
	float:left;
	margin-right: 5px;
	margin-top: 13px;
}


.div_coluna_tabela_cotacao{
	position: relative;
	height: 519px;
	width: 1300px;
	left: 0px;
	top: 0px;
	border-radius: 20px;
	margin-top: 40px;
	margin-right: 20px;
	margin-left: 20px;
	background-color: #ffffff;
}

.div_coluna_1_cotacao{
	position: relative;
	height: 250px;
	width: 750px;
	margin-top: 10px;
	margin-left: 20px;
	display: inline-block;
	float:left;
}

.div_coluna_1_cotacao_titulo{
	font-size: 23px;
	line-height: 24px;
	color: #6D8CC1;
	margin-left: 30px;
}

.informacao_produto_cotacao{
	color: #000000;
	margin-top: -15px;
}

.linha_separacao_cotacao_x{
	height: 0px;
	width: 710px;
	left: 40px;
	top: 88px;
	border: 0.5px solid #b3b3b3;
	margin-left: 20px;
}

.div_coluna_1_cotacao_detalhes{
	height: 18px;
	width: 770px;
	left: 57px;
	top: 177px;
	border-radius: nullpx;
	font-size: 14px;
	line-height: 16px;
	margin-left: 30px;
}

.marca_cotacao_detalhes{
	margin-top: 25px;
}

.historico_cotacao_detalhes{
	margin-top: -15px;
}

.historico_cotacao_detalhes p{
	display:inline;
	float:left;
	margin-right: 25px;
}

.linha_separacao_cotacao_y{
	height: 180px;
	border-left: 1px solid #000000;
	margin-top: 35px;
	margin-right: 7px;
	float:left;
}

.div_coluna_2_cotacao{
	position: relative;
	height: 208px;
	width: 270px;
	margin-top: 20px;
	margin-right: 10px;
	font-size: 12px;
	display: inline-block;
	float:left;
}

.titulo_cotacao_detalhes{
	font-size: 24px;
	color: #6D8CC1;
}

.div_coluna_3_cotacao{
	position: relative;
	height: 208px;
	width: 200px;
	margin-top: 20px;
	font-size: 12px;
	display: inline-block;
	float:left;
}


/*

Fim página COTACAO/PRECIO/PRICE

*/
/*

Início página FORNECEDORES/PROVEEDORES/PROVIDERS

*/

.formulario_fornecedores{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px;
	position: static;
	width: 1312px;
	height: 541px;
	left: 50px;
	top: 189px;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-left: 20px;
	margin-top: 40px;
}


.abas_fornecedores button {
	width: 250px;
	height: 51px;
	left: 175px;
	top: 0px;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	border-radius: 10px 10px 0px 0px;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin: 0px 0px;
	color: #6D8CC1;
}

.abas_fornecedores button.active {
	width: 250px;
	height: 51px;
	left: 175px;
	top: 0px;
	background: #3D5F90;
	border-radius: 10px 10px 0px 0px;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 0px;
	color: white;
}

.dados_basicos {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 30px;
	position: static;
	width: 1312px;
	height: 490px;
	left: 0px;
	top: 40px;
	background: #FFFFFF;
	border: 0.5px solid #E0E0E0;
	box-sizing: border-box;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
	border-radius: 0px 0px 20px 20px;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-right: 20px;
}

.coluna_fornecedor{
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
	float: left;
	width: 100%;
	margin-top: 2%;
}


.coluna_esquerda_fornecedor {
	display: inline-block;
	width: 770px;
	height: 70px;
	border-radius: 5px;
	float: left;
	margin-left: 10px;

}

.coluna_direita_fornecedor {
	display: inline-block;
	width: 100px;
	border-radius: 5px;
	float: left;
	margin-left: -350px;
}

.coluna_4_titulo {
	width: 436px;
	height: 48px;
	left: 0px;
	top: 0px;

	font-size: 16px;
	line-height: 19px;

	background: #3D5F90;
	color: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	border-radius: 10px 10px 0px 0px;

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin-top: 80px;
	margin-left: -40px;

	border: none;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}

.coluna_4{
	flex-direction: column;
	align-items: flex-start;
	padding: 20px;
	position: static;
	width: 436px;
	height: 630px;
	left: 0px;
	top: 51px;
	background: #FFFFFF;
	border: 0.5px solid #E0E0E0;
	box-sizing: border-box;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
	border-radius: 0px 0px 20px 20px;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-right: 20px;
	margin-left: -40px;
	display: inline-block;
}

.coluna_8_titulo {
	width: 770px;
	height: 48px;
	left: 0px;
	top: 0px;

	font-size: 16px;
	line-height: 19px;

	background-color: #56CCF2;
	color: #FFFFFF;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
	border-radius: 10px 10px 0px 0px;

	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 0;
	margin-top: 80px;
	margin-left: 40px;

	border: none;
	text-decoration: none;
	cursor: pointer;s
	display: inline-block;
}

.coluna_8{
	flex-direction: column;
	align-items: flex-start;
	position: static;
	width: 770px;
	height: 210px;
	left: 0px;
	background: #FFFFFF;
	border: 0.5px solid #E0E0E0;
	box-sizing: border-box;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
	border-radius: 0px 0px 20px 20px;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-left: 40px;
	display: inline-block;
}

.coluna_9{
	flex-direction: column;
	align-items: flex-start;
	position: static;
	width: 770px;
	height: 285px;
	left: 0px;
	background: #FFFFFF;
	border: 0.5px solid #E0E0E0;
	box-sizing: border-box;
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.04);
	border-radius: 0px 0px 20px 20px;
	flex: none;
	order: 1;
	flex-grow: 0;
	margin-left: 40px;
	display: inline-block;
}

.coluna_4 .coluna_fornecedor{
	margin-top: 27px;
}

ul.select_checkbox {
	list-style: none;
}
ul.select_checkbox li{
	display: inline;
}
ul.select_checkbox li label{
	display: inline-block;
	background-color: rgba(255, 255, 255, .9);
	border: 2px solid rgba(139, 139, 139, .3);
	color: #000000;
	border-radius: 25px;
	white-space: nowrap;
	margin: 3px 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	transition: all .2s;
}

ul.select_checkbox li label {
	padding: 8px 12px;
	cursor: pointer;
}

ul.select_checkbox li label::before {
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 12px;
	padding: 2px 6px 2px 2px;
	content: "\f067";
	transition: transform .3s ease-in-out;
}

ul.select_checkbox li input[type="checkbox"]:checked + label::before {
	content: "\f00c";
	transform: rotate(-360deg);
	transition: transform .3s ease-in-out;
}

ul.select_checkbox li input[type="checkbox"]:checked + label {
	border: 2px solid #3D5F90;
	background-color: #3970bf;
	color: #fff;
	transition: all .2s;
}

ul.select_checkbox li input[type="checkbox"] {
	display: absolute;
}
ul.select_checkbox li input[type="checkbox"] {
	position: absolute;
	opacity: 0;
}
ul.select_checkbox li input[type="checkbox"]:focus + label {
	border: 2px solid #6a8c99;
}

.label_fornecedor{
	position: static;
	width: 81px;
	height: 16px;
	left: 16px;

	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;

	color: #6D8CC1;
}


/*

Fim página FORNECEDORES/PROVEEDORES/PROVIDERS

*/
/*

Início página INDEX

*/

.coluna_esquerda {
	display: inline-block;
	height: 700px;
	width: 15%;
	border-radius: 5px;
	float: left;
	margin-left: 1%;

}

.coluna_logo_empresa {
	max-width: 200px;
	height: 350px;
	padding: 15px;
	margin: 0 auto;
}

.logo_empresa {
	padding-top: 15px;
	width: 75%;
	display: grid;
	justify-content: center; 
}

.logo_empresa img {max-width: 100%;}

.coluna_direita {

	display: inline-block;
	height: 700px;
	width: 83%;
	margin-top: 28px;
	border-radius: 5px;
	float: right;
	margin-left: 1%;
}

.indicadores {
	height: 130px;
	width: 160px;
	background: #FFFFFF;
	border: 1px solid #E0E0E0;
	box-sizing: border-box;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	margin-right: 3px;
	display: inline-block;
}

.titulo_indicadores{
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
	color: #3D5F90;	
}

.meio_indicadores{
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 40px;
	line-height: 47px;
	text-align: center;
}

.meio_indicadores.positivo{color: #27AE60;}
.meio_indicadores.negativo{color: #EB5757;}
.meio_indicadores.neutro{color: #3D5F90;}

.rodape_indicadores{
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
}

.rodape_indicadores.positivo{color: #27AE60;}
.rodape_indicadores.negativo{color: #EB5757;}
.rodape_indicadores.neutro{color: #3D5F90;}

.cabecalho_noticias{
	margin-top: 25px;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #3D5F90;	
}

.linha_separacao_interna{
	width: 90%;
	height: 0px;
	left: 0px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid rgba(61, 95, 144, 0.25);
}

.titulo_noticias{
	margin-top: 25px;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #3D5F90;	
}

.conteudo_noticias{
	width: 1360px;
	left: calc(50% - 1360px/2);
	top: 54.55%;
	bottom: 0%;
	color: #3D5F90;
	margin-top: 10px;
}

.circulo_noticia {
	left: 0px;
	top: 5.25px;
	width:9.49px;
	height:9.49px;
	border-radius:100%;
	color:#fff;
	text-align:center;
	font-size:25px;
	overflow:hidden;
	display: inline-block;
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 8px;
}

.circulo_noticia.importante {background-color:#EB5757;}
.circulo_noticia.lido {background-color:#56CCF2;}
.circulo_noticia.nao_lido {background-color:#3D5F90;}

.titulo_negrito{
	margin-top: 25px;
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	color: #3D5F90;	
	display: inline-block;
}

.titulo_padrao{
	margin-top: 25px;
	font-size: 20px;
	text-align: left;
	color: #3D5F90;	
	display: inline-block;
}

.dashboard_grafico {
	width: 1035px;
	height:500px;
}

/*

Fim página INDEX

*/
/*

Início página ACESSO/ACCESO/LOGIN

*/

.menu_login{
	position: absolute;
	width: 100%;
	height: 24px;
	left: 0px;
	top: 40px;
	margin-left: 10%;
	color: #3D5F90;
}

.menu_login a {
	position: relative;
	float: left;
	outline: none;
	cursor: indicadores;
	padding: 14px 16px;
	transition: 0.3s;
	box-sizing: border-box;
	text-decoration:none; 
	color: #3D5F90;
}

.menu_login a:before {
	content: "";
	position: relative;
	width: 100%;
	height: 3px;
	bottom: 0;
	left: 0;
	background-color: #3D5F90;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.menu_login a:hover:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}

.logo_login {	
	width: 60%;
	height: 8%;
	background: url(img/logo_login.png);
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top:  40px;
	background-size:cover;
	background-repeat:no-repeat;
}

.coluna_esquerda_interna_login{
	width: 100%;
	height: 755px;
	display: block;
	background: #FFFFFF;
	background-position: left;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	-o-background-size: contain;
}

.coluna_esquerda_login{
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	position: absolute;
	width: 370px;
	height: 450px;
	left: calc(53% - 400px/2 - 360px);
	top: calc(45% - 492px/2 - 4px);

	background: #FFFFFF;
	box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
	border-radius: 16px;
}

.coluna_direita_login{
	width: 100%;
	height: 755px;
	display: block;
	background: url(img/background_login.png) no-repeat scroll;
	background-position: right;
	-webkit-background-size: contain;
	-moz-background-size: contain;
	background-size: contain;
	-o-background-size: contain;
}

.botao_acessar{
	width: 288px;
	height: 58px;
	left: 0px;
	top: 283px;
	background: #56CCF2;
	border-radius: 30px;
	align-self: stretch;
	text-align: center;
	text-decoration: none;
	border: none;
	float:left;
	text-decoration: none;
	cursor: pointer;
	color: #3D5F90;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.08em;
	text-transform: uppercase;

	display: block;
	margin-left: auto;
	margin-right: auto;
}

.coluna_login {
	padding-right: 40px;
	padding-left: 40px;
	width: 78%;
	margin-top: 28px;
}

.esqueci_senha{
	width: 153px;
	height: 19px;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #3D5F90;
	display: block;
	margin-left: 42px;
	margin-right: auto;
	margin-top:  128px;
	text-decoration: none;
}

.logo_login_mvm{
	position: absolute;
	width: 214px;
	height: 36px;
	left: 77px;
	top: 473px;
	background: url(img/logo_login_mvm.png) no-repeat ;
}

.barra_superior_login{
	position: absolute;
	width: 100%;
	height: 24px;
	left: 0px;
	top: 0px;

	background: #6D8CC1;
	mix-blend-mode: multiply;
}

.header_login {
	background-color: #FFFFFF;
	overflow-y:hidden;
	overflow-x:hidden;
}

.slogan_login{
	position: absolute;
	width: 457px;
	height: 214px;
	left: 804px;
	top: 150px;
	font-family: railroad-gothic-atf, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 45px;
	line-height: 100%;
	color: #FFFFFF;
	text-transform: uppercase;
}

.slogan_login_destaque{
	position: absolute;
	width: 457px;
	height: 214px;
	left: 804px;
	top: 263px;
	font-family: railroad-gothic-atf, sans-serif;
	font-style: normal;
	font-weight: 800;
	font-size: 27px;
	line-height: 100%;
	color: #FFFFFF;
	text-transform: uppercase;
	color: #56CCF2;
}

.dados_telefonico_login{
	position: absolute;
	width: 457px;
	height: 214px;
	left: 804px;
	top: 530px;

	font-size: 18px;
	line-height: 21px;
	color: #FFFFFF;
}

.dados_telefonico_login_destaque{
	position: absolute;
	width: 457px;
	height: 214px;
	left: 804px;
	top: 560px;

	font-size: 18px;
	line-height: 21px;
	color: #56CCF2;
	font-weight: bold;
}

.direito_autoral{
	position: absolute;
	width: 403px;
	height: 16px;
	left: 7px;
	top: 515px;
	font-size: 12px;
	line-height: 16px;
	color: #6D8CC1;
	margin: 0px 10px;
	text-decoration: none;
}
/*

Fim página ACESSO/ACCESO/LOGIN

*/