.overlay-container{
	display: none;
	content: " ";
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%, rgba(127,127,127,0.9) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(127,127,127,0)), color-stop(100%,rgba(127,127,127,0.9)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
	background: radial-gradient(center, ellipse cover,  rgba(127,127,127,0) 0%,rgba(127,127,127,0.9) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007f7f7f', endColorstr='#e67f7f7f',GradientType=1 );
	z-index: 10;
}

.window-container {
	display: block;
	background: #fcfcfc;
	margin: 8em auto;
	width: 1000px;
	padding: 10px 20px 20px;
	text-align: left;
	z-index: 20;
	border-radius: 3px;
	box-shadow: 0px 0px 30px rgba(0,0,0,0.2);
	-webkit-transition: 0.4s ease-out;
	-moz-transition: 0.4s ease-out;
	-ms-transition: 0.4s ease-out;
	-o-transition: 0.4s ease-out;
	transition: 0.4s ease-out;
	opacity: 0;
}

.zoomout {
	-webkit-transform:  scale(0.7);
	-moz-transform:  scale(0.7);
	-ms-transform:  scale(0.7);
	transform:  scale(0.7);
}

.window-container-visible {
	-webkit-transform:  scale(1);
	-moz-transform:  scale(1);
	-ms-transform:  scale(1);
	transform:  scale(1);
	opacity: 1;
}

.window-container table{
	border-collapse:collapse;
	font-size: 12px;
	padding:3px;
}

.window-container table td{
	text-align:right;
	padding:3px;
}

.window-container table thead tr{
	font-weight:bold;
}

.window-container table thead tr th{
	text-align:right;
}

.window-container table thead tr td{
	border-bottom:1px solid #999;
}

.window-container table tbody td.indicador{
	font-weight:bold;
	text-align:left;
	padding:3px;
	border-right:1px solid #999;
}

.window-container p#tableTitle{
	margin-top:5px;
	padding: 10px 0;
	border-bottom: 2px solid #3b5998;
	font-size:16px;
	font-weight: bold;
	text-align: center;
}
